.datatWrap {
  padding: 1rem;
  background-color: var(--tertiary-color-1);
}

.datatWrap h3 {
  font-weight: 600;
}

.inputWrap {
  border: none;
  outline: none;
}

.inputWrap label {
  color: black;
  font-weight: 500;
}

.input {
  border: 1px solid var(--hover-color);
}

.description {
  height: 7rem;
}

.salesRent {
  flex-direction: row;
}

.svg {
  position: absolute;
  top: 2.3rem;
}

.alarmSvg {
  transition: color 300ms ease-in-out;
  position: absolute;
  top: 0;
  color: var(--primary-color);
  animation: blink 800ms ease-in-out infinite;
}

@keyframes blink {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.tooltipMsg i {
  text-decoration: underline;
}

.alarmSvg:hover {
  color: var(--primary-color);
}

.details {
  display: grid;
  gap: 1rem;
}

.btnGrp {
  font-weight: 500;
  margin-bottom: 1rem;
  justify-content: flex-end;
}

.btnGrp button {
  width: 10rem;
}

.cancleBtn {
  color: var(--tertiary-color-2);
  background-color: var(--tertiary-color-1);
  border: 2px solid var(--hover-color);
}

.uploadWrap {
  border: 1px dashed var(--primary-color);
}

.upload {
  position: relative;
  font-size: 1.2rem;
}

.upload b {
  text-decoration: underline;
}

.imgWrap {
  position: relative;
  background-color: var(--hover-color);
}

.imgControl {
  bottom: 1rem;
  position: absolute;
}

.svgWrap {
  font-size: 11px;
  color: var(--tertiary-color-1);
  background-color: rgba(0, 0, 0, 0.471);
  padding: 6px;
  border-radius: 50%;
}

.starColor {
  color: yellow;
}

.imgWrap span {
  color: var(--tertiary-color-1);
  border: 1px solid var(--hover-color);
  border: 1px solid;
  border-radius: 50%;
  width: 1.8rem;
  height: 1.8rem;
  flex-wrap: wrap;
  background-color: rgba(0, 0, 0, 0.471);
}

.img {
  margin-inline: auto;
  height: 14rem;
  width: 100%;
  max-width: 330px;
}

.fileInput {
  border: 1px solid;
  position: absolute;
  left: 0;
  width: 12rem;
  opacity: 0;
  font-size: 17px;
}

/* location */
.noti {
  transition: all 2s ease-in-out;
  font-size: 13px;
  align-items: flex-end;
  font-weight: 500;
  color: var(--primary-color);
}

.see {
  visibility: visible;
  /* opacity: 1; */
}

.hide {
  opacity: 0;
  visibility: hidden;
  appearance: none;
}

.locationData {
  display: grid;
}

.mapData {
  display: grid;
  gap: 1rem;
}

.mapWrap {
  min-height: 276px;
}

.autocomplete {
  border: 1px solid;
}

@media screen and (width <= 768px) {
  .datatWrap {
    padding: 0.5rem;
  }

  .noti {
    font-size: 13px;
  }

  .statType {
    flex-direction: column;
  }

  .salesRent {
    flex-direction: column;
  }
}

@media screen and (600px < width < 900px) {
  .details {
    grid-template-columns: repeat(2, 1fr);
  }

  .noti {
    font-size: 12px;
  }

  .areaSuffix {
    grid-column: 1 / 3;
  }

  .locationData {
    grid-template-columns: repeat(2, 1fr);
  }

  .address {
    grid-column: 1 / 3;
  }
}

@media screen and (width >= 900px) {
  .details {
    grid-template-columns: repeat(3, 1fr);
  }

  .noti {
    font-size: 16px;
  }

  .areaSuffix {
    grid-column: 2 / 4;
  }

  .locationData {
    grid-template-columns: repeat(2, 1fr);
  }

  .address {
    grid-column: 1 / 3;
  }

  .mapData {
    grid-template-columns: repeat(2, 1fr);
  }
}