/* stylelint-disable csstree/validator */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  --dashboard-col: #437EF7;
  --primary-color: #006aff; /* headlines & active states */
  --secondary-color: #141414; /* card text-color */
  --accent-color: #96999b; /* accent color */
  --accent-color-1: #5F6D7E;
  --hover-color: #EAEBF0;
  --star-color: #F9B900;
  --tertiary-color-1: #ffffff; /* text color (footer) */
  --tertiary-color-2: #3a424b; /* subtle text color */
  --tertiary-color-3: #fafafa; /* background color */
  --tertiary-color-4: #41ae48; /* featured and savebtn color */ 
  --tertiary-color-5: #E8EFFD; /* dashboard overlay color */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

/* $-width-$ */
body::-webkit-scrollbar {
  display: none;
}

#root {
  background-color: var(--tertiary-color-3);
}

a {
  color: inherit;
  text-decoration: inherit;
}

h1 {
  font-size: clamp(0.7rem, 5vw, 2.6rem);
  margin-block: 0.5rem;
}

h2 {
  font-size: clamp(0.7rem, 5vw, 2rem);
  color: var(--primary-color);
}

p {
  font-size: clamp(3px, 4vw, 0.9rem);
}

.box_shadow {
  box-shadow: 1px 1px 10px 1px var(--hover-color);
}

ul {
  list-style-type: none;
}

.blog:hover {
  color: var(--primary-color);
}

/* svg component */
svg {
  fill: currentColor;
}

svg:active {
  transform: scale(1.2);
  transition: scale 100ms ease-in;
}

svg:hover {
  color: var(--primary-color);
}

/* $-Utility classes-$ */
.grid {
  display: grid;
}

.flex {
  display: flex;
}

.f-column {
  display: flex;
  flex-direction: column;
}

.s-btw {
  justify-content: space-between;
}

.align-y {
  align-items: center;
}

.align-x {
  justify-content: center;
}

.b-radius {
  border-radius: 8px;
}

.f-width {
  width: 100%;
}

.pad {
  padding: 1rem 0.5rem;
}

.c_pad {
  padding: 1rem;
}

.c-pad {
  padding: 0.4rem;
}

.gap {
  gap: 0.5rem;
}

.s-gap {
  gap: 0.2rem;
}

.stack {
  z-index: 100;
}

.f-height {
  height: 100%;
}

/* color */
.bg-grey {
  background-color: var(--tertiary-color-3);
}

.c-grey {
  color: var(--accent-color);
}

.c-tertiary {
  color: var(--tertiary-color-1);
}

.h-grey {
  color: var(--hover-color);
}

.bg-tertiary {
  background-color: var(--tertiary-color-1);
}

.bg-primary-1 {
  background-color: var(--primary-color);
}

.bg-primary {
  color: var(--primary-color);
}

/* homepage utils */
.header {
  margin-bottom: 3rem;
  text-align: center;
}

.header-p {
  font-size: 0.2rem;
}

.f_line {
  outline: 1px solid var(--hover-color);
}

/* carousel */
.swiper_container {
  margin-top: 1rem;
}

.carousel-btn {
  margin-block: 1rem;
  border-radius: 50%;
  border: 1px solid var(--tertiary-color-2);
  color: var(--primary-color);
}

.carousel-btn svg {
  position: relative;
  top: 2px;
  left: 1px;
}

.carousel-btn:nth-child(1) svg {
  transform: rotate(180deg);
  top: -2px;
  left: -1px;
}

.carousel-btn-grp {
  flex-direction: row-reverse;
}

/* buttons */
.btn {
  background-color: var(--primary-color);
  border-radius: 5px;
  color: var(--tertiary-color-1);
}

.btn:hover {
  transform: scale(1.01);
}

/* svg icons */
.img_li {
  padding: 0.5rem 0 0.5rem 0;
  justify-content: flex-end;
  width: 1rem;
  height: 2rem;
}

.container-pad {
  padding-block: 3rem;
}

.container {
  --gutter: 5%;
  width: calc(100% - 1 * var(--gutter));
  margin-inline: auto;
}

.wrapper {
  padding: 4rem 1rem 1rem 1rem;
  margin-left: 0;
}

input:focus+svg,
input:hover+svg {
  display: none;
}

.ads {
  height: 100%;
  max-height: 350px;
  font-size: 2rem;
  margin-bottom: 1rem;
}

@media screen and (width >= 768px) {
  .container {
    --gutter: 8rem;
    width: calc(100% - var(--gutter));
    max-width: 1440px;
    padding-block: 2rem;
    margin-inline: auto;
  }
}

@media screen and (width > 800px) {
  .wrapper {
    padding-top: 3.5rem;
    padding-inline: 1.3rem;
    margin-left: 27vw;
  }
}

.section {
  padding-block: 2rem;
}

/* ************************************* */
/* ADDITIONAL UTILITY CLASSES */
/* ************************************* */

.pad-1 {
  padding: 1rem;
}

.pad-15 {
  padding: 1.5rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-25 {
  padding: 2.5rem;
}

.pad-3 {
  padding: 3rem;
}

.pad-4 {
  padding: 4rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-4 {
  margin-top: 4rem;
}

.mt-5 {
  margin-top: 5rem;
}

.pad-block-0 {
  padding-block: 0.5rem;
}

.pad-block-1 {
  padding-block: 1rem;
}

.pad-block-2 {
  padding-block: 2rem;
}

.pad-inline-1 {
  padding-inline: 1rem;
}

.pad-inline-2 {
  padding-inline: 2rem;
}

.gap-05 {
  gap: 0.5rem;
}

.gap-1 {
  gap: 1rem;
}

.gap-15 {
  gap: 1.5rem;
}

.gap-2 {
  gap: 2rem;
}

.gap-25 {
  gap: 2.5rem;
}

.gap-3 {
  gap: 3rem;
}

.m-1 {
  margin: 1rem;
}

.ml-h {
  margin-left: 0.5rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 2rem;
}
.mr-1 {
  margin-left: 1rem;
}

.mr-2 {
  margin-left: 2rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-600 {
  font-weight: 600;
}

.fw-700 {
  font-weight: 700;
}

.center-text {
  text-align: center;
}

.flex-start {
  justify-content: flex-start;
}

.space-around {
  justify-content: space-around;
}

.space-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.no-wrap {
  white-space: nowrap;
}

.nil {
  display: none;
}
