.search_container {
  position: relative;
  padding-top: 5rem;
  display: flex;
  gap: 1rem;
  margin-bottom: 5rem;
}

/* desktop */
.map_section {
  transition: width 300ms ease-in-out;
  position: relative;
}

.img {
  width: 100%;
  height: 100%;
}

.results > h3 {
  margin-bottom: 0.5rem;
}

.size {
  font-size: clamp(0.5rem, 5vw, 0.8rem);
}

.listings_wrap {
  margin-top: 1rem;
  display: grid;
  grid-gap: 2rem;
}

.activeElement {
  box-shadow: 1px 1px 10px 1px  #717376;
}

@media screen and (width < 768px) {
  .search_container {
    flex-direction: column-reverse;
  }

  .c_reset {
    width: 100%;
    position: absolute;
  }

  .map_section {
    width: 100%;
    height: 70dvh;
    position: fixed;
    bottom: 0;
  }

  .mapWrap {
    height: 100%;
    bottom: 0;
  }

  .resMap {
    padding: 5%;
    background-color: white;
    position: absolute;
    top: 0;
    min-height: 30dvh;
    padding-top: 5rem;
    z-index: 3;
  }

  .results {
    width: 100%;
  }

  .map_control {
    z-index: 500;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    background-color: var(--tertiary-color-1);
    justify-content: space-between;
  }

  .width_1 {
    width: calc(100% - 4.7rem);
  }

  .width_2 {
    width: calc(100% - 2rem);
  }

  .map_tool {
    border-radius: 3px;
    justify-content: center;
  }

  .stack {
    display: none;
  }

  .isActive {
    background: rgba(0, 106, 255, 0.20);
    color: var(--primary-color);
  }

  .map_tool:hover {
    color: var(--primary-color);
  }

  .nil {
    display: none;
  }

  .sort {
    width: 8rem;
    border: none;
    font-size: smaller;
    padding-inline: 2px;
  }
}

@media screen and (width < 768px) and (height > 800px) {
  .map_section {
    height: 76dvh;
  }

  .resMap {
    min-height: 24dvh;
  }
}

@media screen and (width >= 768px) {
  .map_section {
    width: 40%;
  }

  .mapWrap {
    height: 95vh;
    top: 1rem;
    position: sticky;
  }

  .results {
    right: 0;
    width: 60%;
  }

  .results_full {
    right: 0;
    width: 100%;
  }

  .map_control {
    display: none;
  }

  .off {
    appearance: none;
    visibility: hidden;
    width: 0;
  }
}

@media screen and (600px <= width <= 1150px) {
  .grid_style {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid_n_map {
    grid-template-columns: repeat(1, 1fr);
  }

  .grid_style_2 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid_style_3 {
    grid-template-columns: repeat(1, 1fr);
  }

  .sort {
    min-width: 9rem;
  }
}

@media screen and (width >= 1150px) {
  .grid_style {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid_style_2 {
    grid-template-columns: repeat(3, 1fr);
  }

  .grid_style_3 {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid_style_4 {
    grid-template-columns: repeat(1, 1fr);
  }
}