.wrap {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  gap: 8px;
  font-size: 13px;
  width: max-content;
}

.wrap input {
  appearance: none;
}

.checkmark {
  height: 15px;
  width: 15px;
  border-radius: 3.7px;
  border: 1px solid;
  background-color: var(--tertiary-color-1);
}

.wrap:hover input ~ .checkmark {
  background-color: var(--hover-color);
}

.wrap input:checked ~ .checkmark {
  background-image: url('~/assets/icons/tick.svg');
  background-repeat: no-repeat;
  background-origin: border-box;
  background-size: cover;
  background-position: -0.1px -0.66px;
  border: 2px solid #006aff5e;
}
