:root {
  --bar-width: 1.4rem;
  --bar-height: 2px;
  --hamburger-gap: 6px;
  --hamburger-margin: 1.5rem;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.nav {
  z-index: 1000;
  position: fixed;
  width: -webkit-fill-available;
  top: 0;
  left: 0;
  right: 0;
  height: 4rem;
  padding: 0 1rem;
  justify-content: space-between;
  align-items: center;
  transition: all 0.4s ease-in-out;
  font-size: clamp(3px, 4vw, 0.8rem);
}

.nav_btm {
  border-bottom: 1px solid var(--hover-color);
}

.nav > a > svg {
  position: absolute;
  top: 0.5rem;
  z-index: 2000;
}

.logo {
  color: var(--tertiary-color-1);
}

.close {
  transform: translate(110%);
}

.hamburger_menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  z-index: 700;
  transition: all 300ms ease-in-out;
  padding: 12px 8px;
  background-color: transparent;
  justify-content: center;
  gap: var(--hamburger-gap);
}

.line {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  border-radius: 2px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), 
  rotate var(--animation-timing), translate var(--animation-timing), 
  background-color var(--animation-timing);
  display: block;
}

/* nav */
.tilt {
  background-color: var(--primary-color);
  rotate: 45deg;
  width: var(--bar-width);
  translate: 0.22rem calc(var(--bar-height) / -9);
}

.slideUp {
  transform: translateY(-4rem);
}

.hide {
  opacity: 0;
  visibility: hidden;
}

.rtilt {
  background-color: var(--primary-color);
  rotate: -45deg;
  width: var(--bar-width);
  translate: 0.22rem calc(var(--bar-height) / 9);
}

.see {
  opacity: 1;
}

.hue_1 {
  background-color: var(--primary-color);
}

.hue_2 {
  background-color: var(--tertiary-color-1);
}

/* nav */
.nav_content {
  overflow: scroll;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  padding-top: 5rem;
  background-color: var(--tertiary-color-1);
  height: 100vh;
  transition: var(--animation-timing);
}

.nav_content::-webkit-scrollbar {
  display: none;
}

.reg {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin-top: 1rem;
  padding: 1rem;
}

.loggedState {
  width: 100%;
}

.toggleUser {
  width: 100%;
}

.post_btn {
  display: none;
}

.reg_btn {
  padding: 0.5rem 1rem;
  font-size: clamp(3px, 4vw, 0.8rem);
  width: 100%;
  cursor: pointer;
}

.bg_color::backdrop.bg {
  background-color: white;
}

@media screen and (width >= 768px) {
  .nav {
    position: fixed;
    padding: 0 4rem;
    max-width: 1920px;
    margin-inline: auto;
  }

  .nav_content {
    overflow: unset;
    padding-top: 0;
    flex-direction: row;
    background-color: unset;
    position: relative;
    width: max-content;
    height: 100%;
  }

  .hamburger_menu {
    display: none;
    visibility: collapse;
  }

  .close {
    transform: translate(0);
  }

  .reg {
    position: static;
    justify-content: center;
    align-items: center;
    margin-top: 0;
    padding-right: 0;
  }

  .reg li {
    width: unset;
  }

  .toggleUser {
    width: 4rem;
  }

  .post_btn {
    display: block;
    padding: 0.5rem 1rem;
    font-size: clamp(3px, 4vw, 0.8rem);
    width: 100%;
    cursor: pointer;
  }
}
