.slideIn {
  width: 17rem;
  z-index: 1000;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.3rem;
  color: var(--tertiary-color-5);
  border-radius: 5px;
  transition: all 300ms ease-in-out;
  background: var(--primary-color);
  transform-origin: 100% 100%;
}

.popOver {
  position: absolute;
}

.active {
  opacity: 1;
  transform: scale(1);
}

.slide {
  opacity: 0;
  transform: scale(0);
}

/* backBtn */
@media screen and (width > 800px) {
  .backBtn {
    display: none;
  }
  
}

.svgWrap {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  color: var(--primary-color);
  transform: rotate(180deg);
  border: 1.5px solid var(--hover-color);
  background-color: var(--tertiary-color-1);
}

.svgWrap svg {
  position: relative;
  top: 2px;
  left: 0.5px;
}
