.tooltip {
  z-index: 1000;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 1.3rem;
  color: var(--tertiary-color-1);
  border-radius: 5px;
  background: linear-gradient(45deg, rgb(159, 183, 230), #0400ff, rgb(159, 183, 230));
  transform-origin: 100% 100%;
}

.active {
  opacity: 1;
  transform: scale(1);
}

.slide {
  opacity: 0;
  transform: scale(0);
}
