.wrapper {
  margin-top: 4rem;
}

.swiper_container {
  height: 26rem;
}

.carousel_wrap {
  position: relative;
  border: 1px solid;
}

.carousel_wrap2 {
  width: 100%;
  overflow-x: scroll;
}

.carousel_wrap2::-webkit-scrollbar {
  display: none;
}

.carousel_img_wrap {
  /* height: 20rem; */
  /* width: 100%; */
}

.btn_grp {
  /* width: 100%; */
  padding: 0.4rem 2.5rem;
  position: absolute;
  bottom: 40%;
  height: 4.3rem;
}

.carousel_img {
  /* display: inline-block; */
  width: 100%;
  height: 500px;
}

.bg {
  background-color: unset;
}

.fg {
  background-color: rgba(0, 0, 0, 0.457);
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

.carousel_img2 {
  height: 150px;
  width: 230px;
}

.carousel_wrapper {
  position: relative;
}

.carousel_btn {
  background-color: rgba(0, 0, 0, 0.605);
  border-radius: 50%;
  color: var(--tertiary-color-1);
}

.disable {
  /* background-color: rgba(0, 0, 0, 0.162); */
  opacity: 0.4;
  pointer-events: none;
}

.enable {
  background-color: rgba(0, 0, 0, 0.605);
}

.carousel_btn:hover {
  transform: scale(1.2);
}

.carousel_btn svg:hover  {
  color: var(--tertiary-color-1);
}

.carousel_btn:nth-of-type(1) {
  rotate: 180deg;
}

.img_no {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: var(--tertiary-color-1);
  background-color: rgba(0, 0, 0, 0.30);
}

.pagination {
  /* background-color: aquamarine; */
  position: absolute;
  bottom: 1rem;
  left: 1rem;
}