.header {
  background-color: var(--tertiary-color-5);
}

.supportData {
  gap: 7px;
  font-size: 5px;
}
.supportData svg {
  height: 1.4rem;
}

.supportData div:nth-of-type(1) {
  height: 2.5rem;
  width: 2.5rem;
}

.cardGrp {
  gap: 1rem;
  row-gap: 1.5rem;
}

.svgWrap{
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: var(--primary-color);
  color: var(--tertiary-color-1);
}

@media (width >= 768px) {
  .cardGrp {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (width >= 1024px) {
  .cardGrp {
    grid-template-columns: repeat(3, 1fr);
  }
}

