.table_wrap {
  outline: 1px solid var(--hover-color);
}

table {
  width: 90%;
  font-size: 2vw;
  border-collapse: collapse;
}

table td,
table th,
table tr {
  padding: 8px;
  border-radius: 4px;
  color: var(--accent-color);
}

tr {
  border-bottom: 1px solid var(--hover-color);
}

table th {
  padding: 13px 9px;
  text-align: left;
  font-weight: 700;
}

tr:hover {
  background-color: var(--hover-color);
}

.margin {
  /* border: 1px solid black; */
  /* outline: 2px solid black; */
  /* background-color: aqua; */
}

/* .margins {
  padding-inline: 1rem;
  color: var(--accent-color);
  background-color: var(--primary-color);
  border-radius: 4px;
  cursor: pointer;
} */

.img {
  border-radius: unset;
}

.bgCard {
  border-radius: unset;
  background-color: unset;
}

.address {
  position: relative;
}

.listings {
  color: var(--tertiary-color-2);
}

.address span {
  color: var(--accent-color);
  margin-left: 9px;
}

.locationSvg {
  position: absolute;
  top: -6px;
}

.td {
  padding-inline: 0.5rem;
}

.pagination {
  color: var(--accent-color);
}

@media screen and (width >= 768px) {
  table {
    width: 70%;
    font-size: 1vw;
  }
}

@media screen and (width <= 600px) {
  th:nth-of-type(n+2) {
    display: none;
  }

  td {
    font-size: 1.2rem;
  }

  .address {
    font-size: 1rem;
  }

  .address svg {
    margin-top: 0.2rem;
    width: 0.9rem;
    height: 2rem;
  }
  
  .address span {
    margin-left: 1rem;
  }

  td:nth-of-type(n+2) {
    display: none;
  }
}
