.nav_item {
  border-top: 1px solid var(--hover-color);
  padding: 1rem;
  cursor: pointer;
}

.nav_item_ul {
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.nav_item_link {
  align-items: center;
  gap: 0.4rem;
}

/* hover state */
.nav_item_link:hover {
  background-color: var(--hover-color);
}

.blue {
  color: var(--primary-color);
}

.ash {
  color: var(--accent-color);
}

/* arrow */
.rotate90 {
  rotate: 90deg;
  transition: var(--animation-timing);
}

.rotate0 {
  rotate: 0;
  transition: var(--animation-timing);
}

/* accent color */
.set_color {
  color: var(--primary-color);
  transition: var(--animation-timing);
}

.exit_color {
  transition: var(--animation-timing);
}

/* drop down */
.drop_down {
  transition: var(--animation-timing);
}

.close_link {
  overflow: hidden;
  max-height: 0;
  opacity: 0;
  visibility: hidden;
}

.open_link {
  margin-top: 1.3rem;
  opacity: 1;
  overflow: none;
  max-height: 9.52rem;
}

@media screen and (width >= 768px) {
  .arrow_Icon {
    display: none;
  }

  .nav_item {
    border-top: unset;
    justify-content: center;
    padding: 0;
    margin: 0 0.8rem;
  }

  .txt_color {
    color: var(--tertiary-color-1);
  }

  .txt_color_2 {
    color: var(--tertiary-color-2);
  }

  .set_color {
    color: var(--primary-color);
    transition: var(--animation-timing);
  }
  
  .exit_color {
    transition: var(--animation-timing);
  }

  .nav_item_ul {
    justify-content: space-between;
  }

  .overlay {
    position: absolute;
    top: 3.2rem;
  }

  .drop_down {
    background-color: var(--tertiary-color-1);
    margin-left: -0.1rem;
  }
  
  .close_link {
    overflow: hidden;
    max-width: 0;
    max-height: 0;
    opacity: 0;
  }
  
  .open_link {
    border: 1px solid var(--hover-color);
    min-width: 15rem;
    opacity: 1;
    overflow: none;
    max-height: 12rem;
  }
}
